<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.4.10/dist/antd.min.js"></script>
  <script src="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.4.10/dist/antd.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src='base.js'></script> -->
   
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.5/vue.common.dev.js"></script>
    
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.common.dev.js"></script> -->

   
  <!-- <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.4.10/dist/antd.min.js"></script> -->
  <script src="https://cdn.staticfile.org/ant-design-vue/1.5.0/antd.min.js"></script>

  <!-- <script src="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.min.js"></script> -->
   
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script> -->
   
  <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.js"></script>

   
  <!-- <link href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.4.10/dist/antd.min.css" rel="stylesheet" type="text/css" /> -->
  <link href="https://cdn.staticfile.org/ant-design-vue/1.5.0/antd.min.css" rel="stylesheet" type="text/css" />

  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>

   
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> -->
  <!--   <script src="  https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->

   
  <!-- <script src='base.js'></script> -->

</head>
<style>
  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 12px 16px !important;
  }
</style>

<body style="padding:20px;">
  <div id="root" style="border: 1px solid #1890ff;border-radius: 5px;">
    <a-row>
      <a-col :span="24" style="display: flex;
        justify-content: start;
        align-items: center;
        margin:20px 20px;">
        <a-button type="primary" @click="showHistory()">查看购买历史</a-button>
        <a-button type="primary" @click="updataPassword()" style="margin-left:20px;">修改密码</a-button>



      </a-col>
    </a-row>
    <a-row>
      <a-col>
        <a-table :pagination="false" :columns="columns" :data-source="data">

          <span slot="action" slot-scope="record">

            <a href="javascript:;" @click="queryPartner(record)">试听</a>
            <a :disabled="record.progressRate==720" style="margin-left:20px" href="javascript:;"
              @click="toBuy(record)">确定买入</a>
            <a v-if="record.progressRate===720" style="margin-left:20px;color: green">已被买入 </a>


          </span>
        </a-table>
      </a-col>
    </a-row>
    <a-row>
      <a-col>
        <div style="float:right;padding-bottom: 20px;
        padding-right:20px;">
          <a-pagination @change="onShowSizeChange" v-model="current" :total="totalNum" show-less-items
            style="margin-top:20px;" />
        </div>
      </a-col>
    </a-row>

    <a-modal title="选择买入" :visible="visibleType" @ok="handleOk" @cancel="handleCancel" ok-text="确定" cancel-text="取消">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">



        <a-form-item label="版权方式">
          <a-select default-value="" style="width: 100%" @change="handleChange2" v-decorator="[
          'nName1',
          { rules: [{ required: true, message: '请输入版权方式!' }] },
        ]">
            <a-select-option v-for="(item, index) in queryCopyList" :key="index" :value="item.value"> {{item.name}}
            </a-select-option>


          </a-select>
        </a-form-item>
        <a-form-item label="合作方式">
          <a-select default-value="" style="width: 100%" @change="handleChange3" v-decorator="[
          'nName2',
          { rules: [{ required: true, message: '请输入合作方式!' }] },
        ]">
            <a-select-option v-for="(item, index) in cooperationList" :key="index" :value="item.value"> {{item.name}}
            </a-select-option>

          </a-select>
        </a-form-item>
      </a-form>
    </a-modal>
    <a-modal title="试听" :visible="visibleAudition" :confirm-loading="confirmLoading" @ok="handleOkAudition" ok-text="确定"
      cancel-text="取消" @cancel="handleCancelAudition">
      <!-- <div style="display: flex;justify-content: center;flex-direction: column;">
        <div style="display: flex;justify-content: center;">
          <audio :src="auditionCodeUrl" controls="controls" id="music1" controlslist="nodownload"></audio>
        </div>
        <div style="margin-top: 20px;text-indent: 20px;max-height: 600px;white-space: pre-wrap;overflow-y: auto;padding: 10px 20px;">{{songText}}</div>
      </div> -->
      <div id="music-check">
        <div style="display: flex;justify-content: center;flex-direction: column;">
          <div style="display: flex;justify-content: center;">
            <audio :src="auditionCodeUrl" controls="controls" id="music1" controlslist="nodownload"></audio>
          </div>
          <div
            style="margin-top: 20px;text-indent: 20px;max-height: 600px;white-space: pre-wrap;overflow-y: auto;padding: 10px 20px;">
            {{songText}}</div>
        </div>
      </div>
    </a-modal>
    <a-modal title=" 购买记录" width="900px" :visible="visiblePartner" :confirm-loading="confirmLoading"
      @ok="handleOkPartner" @cancel="handleCancelPartner" ok-text="确定" cancel-text="取消">
      <div>
        <a-row>
          <a-col :span="24">
            <a-table :pagination="false" :columns="columnPartner" :data-source="data1" style="margin-top: 20px">
            </a-table>
          </a-col>
        </a-row>
        <a-row>
          <a-col>
            <div style="float:right">
              <a-pagination @change="onShowSizeChange1" v-model="current1" :total="totalNum1" show-less-items
                style="margin-top:20px;" />
            </div>
          </a-col>
        </a-row>
      </div>
    </a-modal>
    <a-modal title="购买提示" width="900px" :visible="visibleBuy" :confirm-loading="confirmLoading" @ok="handleOkBuy"
      @cancel="handleCancelBuy" ok-text="确定" cancel-text="取消">
      <div>
        <a-row>
          <a-col :span="24">
            <div style="display: flex; justify-content: center; align-items: center;">{{buyText}}</div>
          </a-col>
        </a-row>

      </div>
    </a-modal>
    <a-modal title="购买提示" width="900px" :visible="visibleBuying" :confirm-loading="confirmLoading" @ok="handleOkBuying"
      @cancel="handleCancelBuying" ok-text="确定" cancel-text="取消">
      <div>
        <a-row>
          <a-col :span="24">
            <div style="display: flex; justify-content: center; align-items: center;">{{buyTexting}}</div>
          </a-col>
        </a-row>

      </div>
    </a-modal>
    <a-modal title="修改密码" :visible="visibleType2" @ok="handleOk2" @cancel="handleCancel2" ok-text="确定" cancel-text="取消">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit2">

        <a-form-item label="原密码">
          <a-input type="password" v-decorator="[
          'oldPassword',
          { rules: [{ required: true, message: '请输入原密码!' }] },
        ]" />
        </a-form-item>
        <a-form-item label="新密码">
          <a-input type="password" v-decorator="[
          'newPassword',
          { rules: [{ required: true, message: '请输入新密码!' }] },
        ]" />
        </a-form-item>


      </a-form>
    </a-modal>
  </div>

  <script>
    const columns = [
      {
        dataIndex: "nums",
        title: "编号",
        key: "nums",
        slots: { title: "customTitle" },
        scopedSlots: { customRender: "name1" },
      },
      {
        title: "歌曲名",
        dataIndex: "songName",
        key: "songName",
      },
      {
        title: "词作者",
        dataIndex: "lyricist",
        key: "lyricist",
      },
      {
        title: "曲作者",
        dataIndex: "composer",
        key: "composer",
      },


      {
        title: "操作",
        key: "action",
        scopedSlots: { customRender: "action" },
      },
    ];
    const columnPartner = [
      {
        dataIndex: "songName",
        title: "歌曲名",
        key: "songName",
        slots: { title: "customTitle" },
        scopedSlots: { customRender: "name1" }
      },
      {
        dataIndex: "tag",
        title: "风格",
        key: "tag",
        slots: { title: "customTitle" },
        scopedSlots: { customRender: "name1" }
      },

      {
        dataIndex: "createTime",
        title: "意向时间",
        key: "createTime",
        slots: { title: "customTitle" },
        scopedSlots: { customRender: "name1" }
      },

      {
        dataIndex: "contractTime",
        title: "签署合同时间",
        key: "contractTime",
        slots: { title: "customTitle" },
        scopedSlots: { customRender: "name1" }
      },

      {
        dataIndex: "publishTime",
        title: "发布时间",
        key: "publishTime",
        slots: { title: "customTitle" },
        scopedSlots: { customRender: "name1" }
      },



    ]

    const data = [

    ];
    const data1 = [

    ];


    var vue = new Vue({
      el: '#root',
      data() {
        return {
          data,
          data1,
          columns,
          columnPartner,
          axiosUrl: "",
          selectedRowKeys: [], // Check here to configure the default column
          visibleType: false,
          queryCopyList: [],
          cooperationList: [],
          confirmLoading: false,
          formLayout: "horizontal",
          form: this.$form.createForm(this, { name: "coordinated" }),
          visibleAudition: false,
          auditionCodeUrl: '',
          song: "",
          lockTime: 0,
          copyright: "",
          cooperative: "",
          saveUrl: "",
          songText: "",
          severUrl: "http://47.114.141.171:8990",
          severUrlActive: "http://47.114.141.171:8990/rylBGM",
          visiblePartner: false,
          current: 1,
          totalNum: 20,
          current1: 1,
          totalNum1: 2,
          visibleBuy: false,
          visibleBuying: false,
          buyText: "选择后发现该歌曲已经被别人买入了：非常抱歉，该歌曲已经被其他合作伙伴暂时锁定了，请您理解！",
          buyTexting: "",
          visibleType2: false,
          buysongId: '',
          songName: '',
          tempdata:JSON.parse(localStorage.getItem("admin")),//ygd,
          // tempdata:{
          //   token:'6257043fb67baf3dfb929a61'
          // }
        };
      },
      mounted: function () {
        //var temptest = "http://47.114.141.171:8990/MusicIndex.html?type=324324324";

        var temptest = location.search; //获取url中"?"符后的字串 ?'
        //var temptest = 'http://47.114.141.171:8990/MusicIndex.html?type=e5597321-c509-46ed-9574-bfe9a1aa6610'
        var tempUrl;
        if (temptest.indexOf("?") != -1) {
          var str = temptest.split("?");
          var tempurl1 = str[1]
          var tempurl2 = tempurl1.split("=")[1]
          this.axiosUrl = ''
          this.axiosUrl = tempurl2//杨国栋
         // this.axiosUrl='6257027cb67baf3dfb929a5e'
          this.queryInfo(this.axiosUrl)
        }
        // this.axiosUrl='6257027cb67baf3dfb929a5e'
        // this.queryInfo(this.axiosUrl)


      },

      methods: {
        //修改密码
        updataPassword() {
          this.visibleType2 = true

        },
        //查看历史
        showHistory() {
          this.querybuyHistory()
          this.visiblePartner = true
        },
        //时间格式化
        getTimes: function (b) {
          let e = new Date(b)
          let year = e.getFullYear();
          let month = e.getMonth() + 1;
          let day = e.getDate();
          let hh =
            e.getHours() < 10 ?
              "0" + e.getHours() :
              e.getHours();
          let mm =
            e.getMinutes() < 10 ?
              "0" + e.getMinutes() :
              e.getMinutes();
          let ss =
            e.getSeconds() < 10 ?
              "0" + e.getSeconds() :
              e.getSeconds();
          let endTime = `${year}-${month}-${day} ${hh}:${mm}:${ss}`;
          return endTime
        },
        //关闭试听伙伴弹窗
        handleOkPartner() {
          this.visiblePartner = false;
        },
        handleCancelPartner() {
          this.visiblePartner = false;
        },
        //已被购买弹窗关闭
        handleOkBuy() {
          this.visibleBuy = false

        },
        //已被购买弹窗关闭
        handleCancelBuy() {
          this.visibleBuy = false
        },
        //购买成功弹窗关闭
        handleOkBuying() {
          this.visibleBuying = false

        },
        //购买成功弹窗关闭
        handleCancelBuying() {
          this.visibleBuying = false
        },
        //查看历史分页
        onShowSizeChange1(current, pageSize) {
          this.current1 = current;
          this.querybuyHistory()
        },
        //查看历史分页
        onShowSizeChange(current, pageSize) {
          this.current = current;
          console.log(current, pageSize);
          this.queryInfo(this.axiosUrl)
        },
        //查看历史
        querybuyHistory() {
          let tempdata = JSON.parse(localStorage.getItem("admin"))

          let _this = this
          axios({
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            method: 'post',
            url: _this.severUrlActive + '/god/getPurchaseHistory',
            data: {
              token: _this.tempdata.token,
              page: _this.current1,
              pageSize: 10
            }
          }).then(res => {
            let tempdata = res.data
            console.log(tempdata)
            if (tempdata.status == 0) {
              this.data1 = tempdata.data;
              this.totalNum1 = 9
              this.visiblePartner = true;
              this.data1.map(item => {
                item['createTime'] = item.publish.startLockTime
                item['contractTime'] = item.publish.contractTime
                item['publishTime'] = item.publish.publishTime
                item['songName'] = item.submitter.songName
                item['tag'] = item.submitter.tag

     
                this.totalNum1 = 9
                this.visiblePartner = true;

              });
            }

          });


        },

        //取消试听
        handleCancelAudition() {
          var audio = document.getElementById("music1");
          audio.pause();
          this.visibleAudition = false

        },
        handleOkAudition() {
          var audio = document.getElementById("music1");
          audio.pause();
          this.visibleAudition = false

        },
        //试听
        queryPartner(val) {
          console.log(val)
          //获取歌词
          let tempdata = JSON.parse(localStorage.getItem("admin"))
          let _this = this
          const param = {
            token:  _this.tempdata.token,
            songID: val.id,
            fileCode: val.lyricsFile,
            category: "lyric"
          };
          let tempStr = JSON.stringify(param);
          console.log(tempStr);
          // const Base64 = require("js-base64").Base64;
          // tempStr =window.btoa(tempStr);
          // tempStr = $.base64.encode(tempStr)
          tempStr = window.btoa(tempStr);
          console.log(tempStr.split("="))
          tempStr = tempStr.split("=")[0]
          //tempStr=split('==')[0]
          // openFileActive(tempStr).then(res => {
          //   console.log(res);
          //   this.songText = res;
          // });
          console.log(tempStr)
          this.visibleAudition = true
          axios({
            headers: {
              'Content-Type': 'multipart/form-data',
              //'token': localStorage.getItem("admin"),
            },
            method: 'get',
            url: _this.severUrlActive + '/openFile/' + tempStr,
            // data: {
            //  // key: localStorage.getItem("admin"),
            // }
          }).then(res => {
            console.log(res)
            if (res.status == 200) {
                 console.log("***")
              let tempdata1 = JSON.parse(localStorage.getItem("admin"))

              this.songText = res.data;
              const params = {
                token: this.tempdata.token,
                songID: val.id,
                fileCode: val.auditionFile,
                category: "audition"
              };
              let tempStr1 = JSON.stringify(params);
              tempStr1 = window.btoa(tempStr1);
              console.log(tempStr1.split("="))
              tempStr1 = tempStr1.split("=")[0]
              this.auditionCodeUrl = _this.severUrlActive + "/openFile/" + tempStr1;
            }


          });
          return false


        },
        //保存买入
        handleSubmit() {
          let tempdata = JSON.parse(localStorage.getItem("admin"))


          let _this = this
          // e.preventDefault();
          _this.form.validateFields((err, values) => {
            if (!err) {

              // const param  {key:"xiaoMing",songName:"像我这样的人",”lyricist”:”毛不易”,”composer”:”毛不易”,”lyricsCode”:”ABCDEFSAAS~”,”demoCode”:”ADJIFAOQQ*&^^”}
              axios({
                headers: {
                  'Content-Type': 'multipart/form-data'
                },
                method: 'post',
                url: _this.severUrlActive + '/god/putLockSong',
                data: {
                  token:  _this.tempdata.token,
                  url: _this.axiosUrl,
                  songIDs: [_this.buysongId],
                  collaborateMode:_this.cooperative,
                  copyrightMode: _this.copyright
                }
              }).then(res => {
                console.log(res)
                let tempdata = res.data
                if (res.data.status == 0) {
                  this.visibleType = false;
                  this.visibleBuying = true
                  //this.buyTexting=`感谢您选择《${this.songName}》歌曲，请在${this.lockTime}天内将该歌曲的版权协议，寄给我们，如果我们没有收到协议，将会在${this.lockTime}天后将该歌曲从新开放给所有合作伙伴，感谢理解！`
                  this.buyTexting = `感谢您选择《${this.songName}》歌曲,请在15天内将该歌曲的版权协议，寄给我们，如果我们没有收到协议，将会在15天后将该歌曲从新开放给所有合作伙伴，感谢理解！`

                  this.queryInfo(this.axiosUrl)

                } else {
                  this.$message.error("对不起，您买入失败！");

                }

              });
            }
          });
        },
        //修改密码
        handleSubmit2() {
          // e.preventDefault();
          this.form.validateFields((err, values) => {
            let tempdata = JSON.parse(localStorage.getItem("admin"))
            console.log(tempdata)

            if (!err) {
              console.log(values)

              // const param  {key:"xiaoMing",songName:"像我这样的人",”lyricist”:”毛不易”,”composer”:”毛不易”,”lyricsCode”:”ABCDEFSAAS~”,”demoCode”:”ADJIFAOQQ*&^^”}
              axios({
                headers: {
                  'Content-Type': 'multipart/form-data'
                },
                method: 'post',
                url: this.severUrlActive + '/account/updatePassword',
                data: {
                  // key:"kehu02",
                  token:  _this.tempdata.token,
                  oldPassword: values.oldPassword,
                  newPassword: values.newPassword
                }
              }).then(res => {
                let tempdata = res.data
                if (tempdata.status == 0) {
                  this.visibleType2 = false;
                  this.$message.success("密码修改成功！");

                  window.location = 'http://106.53.61.91:8990/html/clientLogin.html?type=' + this.axiosUrl

                } else {
                  this.$message.error("密码修改失败！");

                }

              });
            }
          });
        },
        //版权列表
        queryCopyright() {
          let tempdata = JSON.parse(localStorage.getItem("admin"))
          let _this=this
          axios({
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            method: 'post',
            url: this.severUrlActive + '/config/aboutCopyrightMode',
            data: {
              // key: localStorage.getItem("admin"), "operation": 0, "name": ""
              token:  _this.tempdata.token,
              action: "get",
            }
          }).then(res => {
            console.log(res)
            console.log(res.data.data)
            let tempdata = res.data.data
            this.queryCopyList = res.data.data
            // if (tempdata.state == 0) {
            //   this.queryCopyList = tempdata.data

            // } else {

            // }

          });
        },
        //合作方式列表
        queryCooperation() {
          let tempdata = JSON.parse(localStorage.getItem("admin"))
          let _this=this
          axios({
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            method: 'post',
            url: this.severUrlActive + '/config/aboutCooperative',
            data: {
              token:  _this.tempdata.token,
              action: "get",
            }
          }).then(res => {
            // let tempdata = res.data
            // let tempdata = res.data.data
            this.cooperationList = res.data.data
            // if (tempdata.state == 0) {
            //   this.cooperationList = tempdata.data

            // } else {

            // }

          });
        },

        handleChange1(val) {
          console.log(val)
        },
        handleChange2(val) {
          console.log(val)
          this.copyright = val
        },
        handleChange3(val) {
          console.log(val)
          this.cooperative = val
        },
        //确定买入
        handleOk() {
          this.handleSubmit();
          //this.visibleType = false
        },
        //确定买入
        handleOk2() {
          this.handleSubmit2();
          //this.visibleType = false
        },
        handleCancel2() {
          this.visibleType2 = false
        },
        //取消买入
        handleCancel() {
          this.visibleType = false

        },
        //确定买入
        toBuy(val) {
          console.log(val)
          this.song = val.songName
          this.songName=val.songName
          this.buysongId = val.id
          this.lockTime = val.lockTime
          let _this = this
          this.queryCopyright()
          this.queryCooperation()
          _this.visibleType = true

   


        },
        queryInfo(Ulrs) {
          let tempdata = JSON.parse(localStorage.getItem("admin"))
          console.log(JSON.parse(localStorage.getItem("admin")))
          let _this = this
          axios({
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            method: 'post',
            url: this.severUrlActive + '/god/openOneAudition',
            data: {
              token:  _this.tempdata.token,
              //token:'6218e7abff343b0460492b3c',
              // url:'6218d888f60db081ef1cf1bc'
              url: Ulrs
              // page:_this.current,
              // pageSize:10,
            }
          }).then(res => {
            console.log(res)
            let tempdata = res.data
            if (res.data.status == 0) {
              // this.totalNum=tempdata.count
              this.data = tempdata.data.songs
              this.data.map((item, index) => {
                item['nums'] = index
                item.progressRate == 599 ? item['buyType'] = false : item['buyType'] = true

              })
              console.log(this.data)
            } else {
              this.data = []
            }

          });
        },
        onChange(value) {
        },
        onSelectChange(selectedRowKeys, selectedRows) {
          this.songNameList = []
          console.log('selectedRowKeys changed: ', selectedRows);
          this.selectedRowKeys = selectedRowKeys;
          selectedRows.map((item) => {
            this.songNameList.push(item.name)
          })
          console.log(this.songNameList)
        },
      }
    })

  </script>
</body>

</html>